.card {
  min-height: 100%;
  &:hover {
    box-shadow: 3px 5px 18px #d2d7da;
  }
  i {
    font-size: 50px;
    color: var(--bs-primary);
    align-self: center;
  }
  .card-text {
    text-align: justify;
  }
}